<div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
  <div fxLayout="column wrap" style="height:300px;" class="marginTop50" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true">
    <div>
      <p style="text-align: center; font-size: 25px;">&quot;Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero mollitia quae quia at totam unde dolorem quibusdam cupiditate eligendi asperiores! Ipsum ut nulla ipsa reprehenderit quae. Animi consequatur fugit officiis.&quot;</p>
    </div>
  </div>
</div>