<div fxLayout="row wrap" class="blackBackground" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="marginTop50" fxFlex="90" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" class="widthFull" fxLayoutAlign="start stretch" [fxShow]="true">
          <div>
            <p style="font-size: 45px; font-weight: bolder;">{{page.footerItems.heading}}</p>
          </div>
        </div>
        <div fxLayout="row wrap" class="marginBottom50 widthFull" fxLayoutAlign="start center" [fxShow]="true">
          <div>
            <p>{{page.footerItems.paragraph}}</p>
          </div>
          <mat-icon>{{page.footerItems.icon}}</mat-icon>
        </div>
        <div class="widthFull">
          <hr>
        </div>
        <div fxLayout="row wrap" class="marginTop20" fxLayoutAlign="space-between stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Icons/favicon.ico"></div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let item of page.footerItems.list1">
                  <p>
                    <!-- <p>Lorem ipsum <br>dolor sit, amet consectetur <br>adipisicing elit.</p> -->
                    <!-- <p>{{item}}</p> -->
                    {{item}}
                  </p>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let item of page.footerItems.list2">
                  <p>
                    <!-- <p>Lorem ipsum <br>dolor sit, amet consectetur <br>adipisicing elit.</p> -->
                    <!-- <p>{{item}}</p> -->
                    {{item}}
                  </p>
                </div>
              </div>
              <div fxLayout="column wrap" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let item of page.footerItems.list3">
                  <p>
                    <!-- <p>Lorem ipsum <br>dolor sit, amet consectetur <br>adipisicing elit.</p> -->
                    <!-- <p>{{item}}</p> -->
                    {{item}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>