<div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="body1bgImage" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="navBarMarginTop" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
          <bh-navBar></bh-navBar>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
          <bh-page_1_body></bh-page_1_body>
        </div>
      </div>
      <bh-searchBar></bh-searchBar>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
      <bh-bottomBody></bh-bottomBody>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <bh-page_2></bh-page_2>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
    <bh-page_3 style="width:100%"></bh-page_3>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
      <bh-page_4></bh-page_4>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
      <bh-footer></bh-footer>
    </div>
  </div>
</div>