<div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Icons/favicon.ico"></div>
          <div>
            Veeza</div>
        </div>
      </div>
      <div fxLayout="column wrap" fxFlex="65" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  About</p>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  Services</p>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  Project</p>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  Contact</p>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button class="navBarButton">Get Started</button></div>
        </div>
      </div>
    </div>
  </div>
</div>