<div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Icons/favicon.ico" width="64px"></div>
          <div>
            Veeza</div>
        </div>
      </div>
      <div fxLayout="column wrap" fxFlex="65" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true" fxHide.xs="true">
          <div fxLayout="column wrap" fxFlex="45" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let item of page.section1.navItems">
                <p>
                  {{item}}
                </p>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button class="navBarButton">Get Started</button></div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="end stretch" [fxShow]="false" fxShow.xs="true">
          <mat-icon class="phoneMenuIcon">menu</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>