<div fxLayout="column wrap" class="marginTop100" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="90" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/house-with-sky.jpeg" width="100%"></div>
        <div fxLayout="column wrap" fxFlex="48" fxLayoutAlign="center center" [fxShow]="true">
          <div class="bigBlackText">
            Enhance your interior through design</div>
          <div class="marginTop20 smallGreyText">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi nemo velit pariatur reiciendis necessitatibus, voluptatem delectus dolorum quo facere dolore officia! Dolorem dolorum sequi suscipit! Optio excepturi repellendus sunt tenetur inventore velit tempore corrupti molestias nemo laborum perferendis explicabo tempora repudiandae quam, architecto non consequuntur expedita nobis ratione dolorum vel.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="marginTop100" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/beach-house.webp" width="100%"></div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="marginBottom50 marginTop100" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true">
      <div class="bigBlackText">
        <p style="text-align: center;">Special offer experience</p>
      </div>
      <div class="marginTop20 smallGreyText">
        <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor saepe, nemo ducimus repellat asperiores atque obcaecati vero molestiae! At aut quod exercitationem similique provident quae fugit eligendi dicta accusamus dignissimos.</p>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" class="widthFull" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="90" fxLayoutGap="5px" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="row wrap" class="widthFull" fxLayoutGap="5px" fxLayoutAlign="space-between stretch" [fxShow]="true">
        <div fxLayout="column wrap" class="heightForPg3Images page3bgImage1" fxFlex="573.5px" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutAlign="end stretch" [fxShow]="true">
            <div class="pg3-OpacityText">
              <p style="margin-top: 10px;">$ 5000</p>
            </div>
          </div>
          <div fxLayout="row wrap" class="pg3-whiteBoxText" fxLayoutAlign="center stretch" [fxShow]="true">
            <div>
              <p style="font-size: 20px; font-weight: bold; margin-top: 15px; margin-bottom: -15px;">Office</p><br>
              <p style="color: grey; font-size: 14px; margin-bottom: 10px;">12 months | 20% Interest Financing</p>
            </div>
          </div>
        </div>
        <div fxLayout="column wrap" class="page3bgImage2 heightForPg3Images" fxFlex="573.5px" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutAlign="end stretch" [fxShow]="true">
            <div class="pg3-OpacityText">
              <p style="margin-top: 10px;">$ 5000</p>
            </div>
          </div>
          <div fxLayout="row wrap" class="pg3-whiteBoxText" fxLayoutAlign="center stretch" [fxShow]="true">
            <div>
              <p style="font-size: 20px; font-weight: bold; margin-top: 15px; margin-bottom: -15px;">Office</p><br>
              <p style="color: grey; font-size: 14px; margin-bottom: 10px;">12 months | 20% Interest Financing</p>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" class="widthFull" fxLayoutAlign="center stretch" [fxShow]="true">
        <div fxLayout="column wrap" class="page3bgImage3 heightForPg3Images" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutAlign="end stretch" [fxShow]="true">
            <div class="pg3-OpacityText">
              <p style="margin-top: 10px;">$ 5000</p>
            </div>
          </div>
          <div fxLayout="row wrap" class="pg3-whiteBoxText" fxLayoutAlign="center stretch" [fxShow]="true">
            <div>
              <p style="font-size: 20px; font-weight: bold; margin-top: 15px; margin-bottom: -15px;">Office</p><br>
              <p style="color: grey; font-size: 14px; margin-bottom: 10px;">12 months | 20% Interest Financing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>