<div fxLayout="column wrap" class="greyBackground" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="row wrap" class="marginTop100" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="marginBottom50" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
          <div class="bigBlackText">
            <p>{{page.page2Items.heading}}</p>
          </div>
        </div>
        <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
          <div class="smallGreyText">

            <p>{{page.page2Items.paragraph1}}</p>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxFlex="24%" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let item of page.page2Items.housesImages"><img imgSrc="{{item.image}}" width="100%">
                <div class="marginTop20">
                  <p style="font-size: 25px;font-weight: bold;">{{item.title}}</p>
                </div>
                <div class="marginTop20 smallGreyText">
                  <p>{{item.paragraph}}</p>
                </div>
                <div class="marginTop20 smallGreyText">
                  <p>{{item.date}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>