<div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="marginTop100" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <div class="body1text">
        <!-- <p>The smartest way to buy a home</p> -->

        <p>{{page.page1Body.heading}}</p>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <div class="width600">
        <p style="text-align: center;">{{page.page1Body.content}}</p>
      </div>
    </div>
  </div>
</div>