<div fxLayout="column wrap" class="greyBackground" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="row wrap" class="marginTop100" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="marginBottom50" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
          <div class="bigBlackText">
            <p>Lorem ipsum dolor sit.</p>
          </div>
        </div>
        <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true">
          <div class="smallGreyText">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus animi earum qui repudiandae, cupiditate ratione reprehenderit sit similique officia ea nam ut velit delectus consequatur.</p>
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="80" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" class="marginRight15" fxFlex="22%" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/black-house.jpeg" width="100%">
                <div class="marginTop20">
                  <p style="font-size: 25px;font-weight: bold;">Modern Penthouse</p>
                </div>
                <div class="marginTop20 smallGreyText">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ut.</p>
                </div>
                <div class="marginTop20 smallGreyText">
                  <p>Lorem ipsum dolor sit</p>
                </div>
              </div>
              <div fxLayout="column wrap" class="marginRight15" fxFlex="22%" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/black-house.jpeg" width="100%">
                <div class="marginTop20">
                  <p style="font-size: 25px;font-weight: bold;">Modern Penthouse</p>
                </div>
                <div class="marginTop20 smallGreyText">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ut.</p>
                </div>
                <div class="marginTop20 smallGreyText">
                  <p>Lorem ipsum dolor sit</p>
                </div>
              </div>
              <div fxLayout="column wrap" class="marginRight15" fxFlex="22%" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/black-house.jpeg" width="100%">
                <div class="marginTop20">
                  <p style="font-size: 25px;font-weight: bold;">Modern Penthouse</p>
                </div>
                <div class="marginTop20 smallGreyText">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ut.</p>
                </div>
                <div class="marginTop20 smallGreyText">
                  <p>Lorem ipsum dolor sit</p>
                </div>
              </div>
              <div fxLayout="column wrap" class="marginRight15" fxFlex="22%" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/black-house.jpeg" width="100%">
                <div class="marginTop20">
                  <p style="font-size: 25px;font-weight: bold;">Modern Penthouse</p>
                </div>
                <div class="marginTop20 smallGreyText">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ut.</p>
                </div>
                <div class="marginTop20 smallGreyText">
                  <p>Lorem ipsum dolor sit</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>