<div fxLayout="row wrap" class="greyBackground" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" class="marginTop100" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxFlex="11%" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/default-profile-picture.png" style=" border-radius: 50%;" width="100%"></div>
          <div fxLayout="column wrap" fxFlex="11%" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/default-profile-picture.png" style=" border-radius: 50%;" width="100%"></div>
          <div fxLayout="column wrap" fxFlex="11%" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/default-profile-picture.png" style=" border-radius: 50%;" width="100%"></div>
          <div fxLayout="column wrap" fxFlex="11%" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/default-profile-picture.png" style=" border-radius: 50%;" width="100%"></div>
          <div fxLayout="column wrap" fxFlex="11%" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/default-profile-picture.png" style=" border-radius: 50%;" width="100%"></div>
          <div fxLayout="column wrap" fxFlex="11%" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/default-profile-picture.png" style=" border-radius: 50%;" width="100%"></div>
          <div fxLayout="column wrap" fxFlex="11%" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/default-profile-picture.png" style=" border-radius: 50%;" width="100%"></div>
          <div fxLayout="column wrap" fxFlex="11%" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/default-profile-picture.png" style=" border-radius: 50%;" width="100%"></div>
          <div fxLayout="column wrap" fxFlex="11%" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/default-profile-picture.png" style=" border-radius: 50%;" width="100%"></div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" class="marginTop50" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="55" fxLayoutAlign="start stretch" [fxShow]="true">
        <div class="bigBlackText">
          <p style="text-align: center;">Trusted by over 150+ organizations in more than 50 countries</p>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="center center" [fxShow]="true">
        <mat-icon class="redIcon">home</mat-icon>
      </div>
    </div>
    <div fxLayout="row wrap" class="marginTop50" fxLayoutAlign="center stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="start stretch" [fxShow]="true">
        <div class="smallGreyText">
          <p style="text-align: center; font-size: 20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias officiis voluptates minus vitae voluptate illo, fugit beatae fugiat eum sequi, eos a natus error, doloremque praesentium voluptatem aut quo labore.</p>
        </div>
      </div>
    </div>
  </div>
</div>