<div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="marginTop100" fxFlex="100" fxLayoutAlign="start center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <div class="body1text">
        <p>The smartest way to buy a home</p>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <div class="width600">
        <p style="text-align: center;">Let&apos;s find your dream home with Veeza. Partner with a local real estate agent to fund the home or apartment that&apos;s right for you
        </p>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
  </div>
</div>