<div fxLayout="row wrap" class="marginTop50" fxLayoutAlign="center stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="searchBarIcon" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="searchBarBody whiteBackground" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div>
                <p>Location</p>
              </div>
              <mat-icon class="bodyIcon">home</mat-icon>
            </div>
            <div>
              <input type="text" placeholder="Search" style=" border: none;">
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div>
                <p>Location</p>
              </div>
              <mat-icon class="bodyIcon">home</mat-icon>
            </div>
            <div>
              <input type="text" placeholder="Search" style=" border: none;">
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div>
                <p>Location</p>
              </div>
              <mat-icon class="bodyIcon">home</mat-icon>
            </div>
            <div>
              <input type="text" placeholder="Search" style=" border: none;">
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button class="navBarButton"><span class="material-symbols-outlined"> search </span></button></div>
    </div>
  </div>
</div>